html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f5f7fa;
    font-family: "Segoe UI", sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    width: 100%;
    max-width: 420px;
    padding: 30px 20px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h2 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}


input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

input[type="text"]:focus {
    border-color: #4a90e2;
    outline: none;
}


button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #4a90e2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #357abd;
}


.error {
    color: #d9534f;
    margin-top: 10px;
    font-size: 14px;
}


.qr-box img {
    width: 200px;
    margin-top: 20px;
    border-radius: 10px;
}


footer {
    text-align: center;
    padding: 18px 0;
    margin-top: auto;
    background-color: #e2e8f0;
}


.f-info-socials {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    margin-bottom: 10px;
}

.f-info-socials a i {
    font-size: 1.8rem;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

.f-info-socials a i:hover {
    transform: scale(1.2);
}

.fa-github:hover { color: black; }
.fa-instagram:hover { color: #E4405F; }
.fa-linkedin:hover { color: #0A66C2; }
.fa-x-twitter:hover { color: #1DA1F2; }


.f-made {
    font-size: 14px;
    color: #444;
}
